body {
    background-color: blanchedalmond;
}

.cor {
    color: darkturquoise;
}

.fonte {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.p1,.p2 {
    font-size: 15px;
    text-align: justify;
}

.list {
    color: red;

}

.list span {
    background-color: yellow;
}